body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace
  }
.first-box{
    background-color: #1f2937;
    color:white;
        
}
.header-box { 
    
    margin-left: 10%;
    margin-right:10%;
    display: flex;
   
    justify-content: space-between;
    font-size: 24px;

}
.header-logo{
    padding: 20px;
    
    background-color: red;
}
.header-links {
    background-color: red;
    padding: 20px;
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.header-links div{
    
    flex: 1 1 auto;
}
  
.text-picture{
    
    display: flex;
	justify-content:space-between;
    
    margin-left: 10%;
    margin-right:10%;
    margin-top: 5%;
    margin-bottom: 5%;
    padding-bottom: 7%;
    
    
} 
.description-box{
    background-color: red;
    flex: 0 0 45%;
} 


.picture1{
    background-color: red;
    flex: 0 0 45%;
    
    
    
}
.picture1 img{
    object-fit:contain;
    width: 50px;
    height: 100px;
	top:50%;
	left:50%;
	height:100%;
	width:100%;
	min-width:100%;
	min-height:100%;
	
}
