
body {
    margin: 0px;
    font-family:'Courier New', Courier, monospace
  }
.first-box{
    background-color: #1f2937;
    color:white;
        
}
.header-box { 
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
   
    justify-content: space-between;
    font-size: 24px;
}
.header-links {
    display: flex;
    gap: 20px;
    font-size: 18px;
}
.header-links div{
    
    
    flex: 1 1 auto;
}
  
.text-picture{
    display: flex;
	justify-content:space-between;
	padding:25px 0 ;
	max-width:1280px;
	margin:auto;
    padding-right: 80px;
    padding-left: 80px;
    
}  
.picture1{
    flex: 0 0 45%;
    overflow:hidden;
	position:relative;
    
}
.picture1 img{
    
	top:50%;
	left:50%;
	height:100%;
	width:100%;
	min-width:100%;
	min-height:100%;
	transform:translate(-0%, -0%);
}

  
  
  
  
 